@import url('https://fonts.googleapis.com/css?family=Work+Sans|Playfair+Display+SC:400,900i');

/*body {
  width: 96vw;
  height: 96vh;
  font-family: 'work sans';
  border: solid #d8e8ff;
  border-width: 2vh 2vw;
}*/

body {
  font-family: 'work sans';
  background-color: #fcf9ed;
  max-width: 100em;
  margin: 0 auto;
}

header {
  margin: 3em 0;
  padding: 5em 0;
  background:
    radial-gradient(circle at center, 
      rgba(255,255,255,0) 0%, 
      #fcf9ed 35%),
    url('img/code.png');
}

section {
  width: 65%;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #3c4f65;
}

nav {
  margin-top: -2em;
  display: flex;
  flex-direction: column;
  float: right;
}

nav > a {
  margin: 0.7em 1.5em;
  text-decoration: none;
  text-align: right;
  font-size: 1.5em;
}

nav > a:link,
nav > a:visited { color: #23a393 }
nav > a:hover { color: blue }

h2 {
  margin: 1em 0 0.75em;
  position: relative;
  font-family: 'playfair display sc';
  font-size: 2.75em;
  font-weight: 700;
  color: #fccb8f;
}

h2::before {
  content: '✶ ';
  position: absolute;
  left: -1.15em;
  top: 3px;
  color: #dedede;
}

figure {
  margin: 2em auto 0 auto;
  max-width: 25em;
}

figure > img {
  width: 100%;
  border: 7px solid #c5c5c5;
}

figure > figcaption {
  font-weight: bold;
  font-size: 1.3em;
  padding: 7px 0;
}

figure .links {
  margin: 0;
  font-size: .75em;
}

/* stack list */
figcaption > span {
  float: right
}

.headbox {
  width: 30em;
  margin: 0 auto;
  padding: 0 2.5em 1.5em 1.5em;
  background-color: #20716a;
}

.headbox h1 {
  margin: 0;
  text-align: center;
  font-size: 7em;
  font-family: 'playfair display sc';
  letter-spacing: -2px;
  font-weight: 900;
  font-style: italic;
  line-height: 0.9em;
  color: #fff;
}