@import url('https://fonts.googleapis.com/css?family=Work+Sans|Playfair+Display+SC:400,900i');

/*body {
  width: 96vw;
  height: 96vh;
  font-family: 'work sans';
  border: solid #d8e8ff;
  border-width: 2vh 2vw;
}*/

body {
  font-family: 'work sans';
  background-color: #fcf9ed;
}

header {
  margin: 1em 0 3em 0;
  padding: 5em 0;
  background:
    radial-gradient(circle at center, 
      rgba(255,255,255,0) 0%, 
      #fcf9ed 35%),
    url('code.png');
}

section {
  width: 65%;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.5em;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 10px 0;
}

nav > a {
  margin: 1em .5em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

nav > a:link,
nav > a:visited { color: red }

.headbox {
  width: 30em;
  margin: 0 auto;
  padding: 0 2.5em 1.5em 1.5em;
}

.headbox h1 {
  margin: 0;
  text-align: center;
  font-size: 7em;
  font-family: 'playfair display sc';
  letter-spacing: -2px;
  font-weight: 900;
  font-style: italic;
  line-height: 0.9em;
  color: #900c3f;
}
