@import url('https://fonts.googleapis.com/css?family=Work+Sans|Playfair+Display+SC:400,900i');

/*body {
  width: 96vw;
  height: 96vh;
  font-family: 'work sans';
  border: solid #d8e8ff;
  border-width: 2vh 2vw;
}*/

body {
  font-family: 'work sans';
  background-color: #fbf9f5;
  max-width: 100em;
  margin: 0 auto;
}

header {
  margin: 3em 0;
  padding: 5em 0;
  background:
    radial-gradient(circle at center, 
      rgba(255,255,255,0) 0%, 
      #fbf9f5 80%),
    url('img/code.png');
}

h1 {
  background-image: url(img/code.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ece1b94f;
}

section {
  width: 65%;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #3c4f65;
}

nav {
  margin-top: -2em;
  display: flex;
  flex-direction: column;
  float: right;
}

nav > a {
  margin: 0.7em 1.5em;
  text-decoration: none;
  text-align: right;
  font-size: 1.5em;
}

nav > a:link,
nav > a:visited { color: #23a393 }
nav > a:hover { color: blue }

h2 {
  width: 100%;
  margin: 1em 0 0.5em;
  position: relative;
  font-family: 'playfair display sc';
  font-size: 2.75em;
  font-weight: 700;
  color: #ffd677;
  line-height: 1em;
}

h2::before {
  content: '✶ ';
  position: absolute;
  left: -1.15em;
  top: 3px;
  color: #dedede;
}

figure {
  width: 100%;
  margin: 1em auto;
  max-width: 20em;
  display: inline-block;
}

figure > img {
  width: 95%;
  max-width: 19.2em;
  min-height: 50%;
  max-height: 15em;
  box-shadow: 0px 7px 1px 0px #969696;
  border: 0.4em solid #c5c5c5;
}

figure > figcaption {
  font-weight: bold;
  font-size: 1.3em;
  padding: 14px 0 3px 0;
}

figure .links {
  margin: 0;
  font-size: .75em;
}

figure .links span {
  float: right;
  font-size: 2em;
}

figure .links span i {
  margin-left: 10px;
}

.fa-html5 { color: orange }
.fa-js { color: gold }

/* stack list */
figcaption > span {
  float: right
}

.contact {
  display: flex;
}

.contact a {
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
}

.contact a:link,
.contact a:visited {
  color: #1f7a94;
}

.contact a:focus {
  outline: none;
  text-decoration: underline;
  color: #8ce2c3;
}

.contact a:hover {
  color: #23a393;
}

.contact i {
  font-size: 2.5em;
  display: block;
}

.contact span {
  max-width: 7em;
  display: inline-block;
  font-size: .75em;
  word-break: break-all;
  text-decoration: inherit;
}

.headbox {
  width: 30em;
  margin: 0 auto;
  /* padding: 0 2em 1.5em 1.5em; */
  padding: 0 0.5em 1.5em 1.75em;
  background-color: #20716a;
}

.headbox h1 {
  margin: 0;
  /* text-align: center; */
  font-size: 7em;
  font-family: 'playfair display sc';
  letter-spacing: -2px;
  font-weight: 900;
  font-style: italic;
  line-height: 0.9em;
  color: #fff;
}

#projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* back to top snippet courtesy of Matthew Cain */
/* https://codepen.io/matthewcain/pen/ZepbeR */
#totop {
  display: inline-block;
  background-color: #f1f1f1;
  color: #2eb7d8;
  width: 50px;
  height: 45px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  z-index: 1000;
  font-size: 2.5em;
}
#totop:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}
#totop:active {
  background-color: #555;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

button {
  width: 100%;
  padding: 1em;
  background-color: orange;
  color: #fff;
  border: 0;
  border-radius: 6px;
  font-size: 0.75em;
  cursor: pointer;
}

button:active { background-color: darkgoldenrod }

#random-thing-list {
  max-width: 18em;
  list-style-type: square;
  line-height: 2em;
}

.thing-list {
  display: flex;
  flex-wrap: wrap;
}

.list-left {
  flex: 10 15em;
}
.list-right {
  margin: auto;
  padding: 0 3em;
  flex-wrap: wrap;
  flex: 1 5em;
}




@media only screen and (max-width: 600px) {
  header {
    margin: 0 0 1.5em 0;
    padding: 0;
    background: none;
  }

  section {
    width: 80%;
    font-size: 1.25em;
  }

  nav  {
    margin: -1.5em .5em 0 0;
    flex-direction: row;
  }
  
  nav > a {
    margin: 0.7em 0.5em;
    font-size: 1.3em;
  }

  h2 {
    margin: .75em 0 0;
    font-size: 2.7em;
    line-height: 1em;
  }

  h2::before { content: '' }

  .headbox {
    width: unset;
  }

  .contact {
    margin-bottom: 4em;
  }
}

@media only screen and (max-width: 320px) {
  .headbox h1 {
    font-size: 5em;
  }

  .contact a {
    font-size: 0.9em;
  }
}
